<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
		</a>
		<a *ngIf="isAdmin" routerLink="/role-master" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-user"></i>&nbsp;Role Master
		</a>
		<a routerLink="/accounts" 
			[routerLinkActive]="['router-link-active']"
			[queryParams]="{ type: 'details' }"
			class="list-group-item"> <i class="fa fa-user"></i>&nbsp;Accounts
		</a>
		<a routerLink="/project-report" [routerLinkActive]="['router-link-active']"
		[queryParams]="{ type: 'Enquiry' }"
			class="list-group-item"> <i class="fa fa-file-text-o"></i>&nbsp;Project Report
		</a>
		<a routerLink="/visits" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-file-text-o"></i>&nbsp;Visit Report
		</a>		
		<!-- <a routerLink="/review-format-report" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-file-text-o"></i>&nbsp;Review Format Report
		</a> -->
		<a routerLink="/review-format-report"
			class="list-group-item"
			[routerLinkActive]="['router-link-active']"
			[queryParams]="{ type: 'Week' }"><i class="fa fa-file-text-o"></i>&nbsp;Review Format Report</a>
		<!-- <div class="nested-menu" *ngIf="sidebarMenuShowHideModel.IsAccounts">
			<a class="list-group-item" (click)="addExpandClass('accounts')"> <span><i
						class="fa fa-file-text-o"></i>&nbsp; Accounts </span>
			</a>
			<li class="nested" [class.expand]="showMenu === 'accounts'">
				<ul class="submenu">
					<li *ngIf="sidebarMenuShowHideModel.IsAccounts">
						<a routerLink="/accounts"
						[routerLinkActive]="['router-link-active']"
						[queryParams]="{ type: 'details' }"> <span>Accounts Details</span></a>
					</li>
					<li *ngIf="sidebarMenuShowHideModel.IsAccounts">
							<a routerLink="/accounts"
							[routerLinkActive]="['router-link-active']"
							[queryParams]="{ type: 'performance' }"> <span>Accounts Performance</span></a>
					</li>					
				</ul>
			</li>
		</div> -->
		<!-- <div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('pages')"> <span><i
					class="fa fa-file-text-o"></i>&nbsp; Reports </span>
			</a>
			<li class="nested" [class.expand]="showMenu === 'pages'">
				<ul class="submenu">
					<li><a routerLink="/brand-wise-report"
						[routerLinkActive]="['router-link-active']"
						[queryParams]="{ type: 'Hindware' }"> <span>BrandWise
								Report</span></a></li>
					<li><a routerLink="/segment-wise-report"><span>Segmentwise
								Report</span></a></li>
					<li><a routerLink="/consolidated-report"
						[routerLinkActive]="['router-link-active']"
						[queryParams]="{ type: 'Hindware' }"><span>Consolidated
								Report</span></a></li>
					<li><a routerLink="/weekly-report"
						[routerLinkActive]="['router-link-active']"><span>Weekly Report</span></a></li>
					<li><a routerLink="/user-report"
						[routerLinkActive]="['router-link-active']"						
						[queryParams]="{ type: 'Inactive' }"><span>User Report</span></a></li>
					<li><a routerLink="/ytd-consolidated-report"
						[routerLinkActive]="['router-link-active']"
						[queryParams]="{ type: 'Hindware' }"><span>YTD
								Consolidated Report</span></a></li>
					<li><a routerLink="/user-performance-report"
						[routerLinkActive]="['router-link-active']"
						[queryParams]="{ type: 'Hindware' }"><span>User
								Performance Report</span></a></li>
				</ul>
			</li>
		</div> -->
		<a routerLink="/quotation-management" [routerLinkActive]="['router-link-active']"
		[queryParams]="{ type: 'Budgetory' }"
			class="list-group-item"> <i class="fa fa-file-text-o"></i>&nbsp;Quotation Management
		</a>
	</ul>
</nav>
