.grid {
    position: relative;
}
 
.grid-item {
    position: absolute;
}
 
.grid-item.moving {
    z-index: z-index + 1;
}
 
.placeholder {
    position: absolute;
}
.btn-border:hover
{
    border: 1px solid #31B0D5;
}